main {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
  }

  .chichiImage {
    width: 50px;
  }

  .myGithubUrl {
    text-decoration: none;
  }